- the_id = "campaigns-table"

%h2
  .row
    .col-xs-7
      = t '.title'
      %a.collapser{role: 'button', data: {toggle: 'collapse'}, href: "##{the_id}"}= "-"
    .col-xs-5.right
      = link_to t("campaigns.index.new"), new_campaign_draft_path, class: 'btn btn-success btn-xs'

%hr.top0

%div.collapse.in{id: the_id}
  %table.table.table-striped.bordered.stupid-table.table-hover
    %thead
      %tr
        - if current_admin
          %th{data: {sort: "string"}}= t '.promoter'
        %th{data: {sort: "string"}}= t '.name'
        %th{data: {sort: "float"}}= t '.progress'
        %th{data: {sort: "int"}}= t '.goal'
        %th{data: {sort: "int"}}= t '.attendee_count'
        %th{data: {sort: "string"}}= t '.is_active'
        %th{data: {sort: "string"}}= t '.is_fulfilled'
    %tbody
      - @campaigns.each do |campaign|
        %tr
          - if current_admin
            %td= campaign.event_promoter
          %td= link_to(campaign.name, campaign)
          %td{data: {'sort-value' => campaign.percent_pledged}}
            = progress_bar campaign.percent_pledged, t('campaigns.show.percent', percent: campaign.percent_pledged), progress_bar_type_for(campaign), 'campaign-progress-bar'
          %td{data: {'sort-value' => campaign.goal_cents}}= campaign.goal.format
          %td
            = campaign.attendees.count
          %td= boolean campaign.active?
          %td= boolean campaign.fulfilled?