= t '.p1', raised_amount: @raised_amount, goal_amount: @goal_amount, campaign_link: "#{t('.campaign_link_caption')} (#{@campaign_url})"

= t '.p2', new_campaign_link: "#{t('.new_campaign_link_caption')}: #{@new_campaign_url}"

= t '.p3'