.row.devise-user-form
  .bordered{class: centered}
    %h3= t '.title'
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = form_fields(f, 'devise.confirmations.new') do |field|
        = field.(:email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email))
        = field.(:submit)