.row.devise-user-form
  .bordered{class: centered}
    %h3= t 'devise.registrations.new.title'
    = form_for(resource, as: resource_name, url: attendees_sign_up_path) do |f|
      = form_fields(f, 'devise.registrations.new') do |field|
        = f.fields_for(:attendee, (resource.attendee || resource.build_attendee)) do |af|
          = form_fields(af, 'devise.registrations.new.attendee') do |field|
            = field.(:first_name)
            = field.(:last_name)
            - %i(entity_type_shown_at_signup entity_id_shown_at_signup).each do |attr|
              = field.(attr, as: :hidden, value: params.fetch(:user, {}).fetch(:attendee_attributes, {})[attr])
        = field.(:email)
        = field.(:password)
        = field.(:password_confirmation, as: :password)
        = field.(:submit)