.row.devise-user-form
  .bordered{class: centered}
    %h3= t 'devise.registrations.new.title'
    = form_for(resource, as: resource_name, url: attendees_sign_up_path) do |f|
      = form_fields(f, 'devise.registrations.new') do |field|
        = f.fields_for(:attendee, (resource.attendee || resource.build_attendee)) do |af|
          = form_fields(af, 'devise.registrations.new.attendee') do |field|
            = field.(:first_name)
            = field.(:last_name)
        = field.(:email)
        = field.(:password)
        = field.(:password_confirmation, as: :password)
        = field.(:submit)
    %hr
      %h4.bottom0= t '.maybe_fb'
      .bottom10
        %small= t '.maybe_fb_expl'
      = facebook_connect
      .bottom20