- discount_info = pledge.discount_cents.zero? ? '' : t('pledges.form.discount_info', amount: pledge.amount.format)

%strong= t 'pledges.form.contributed', contributed: pledge.originally_pledged.format, discount_info: discount_info
- if pledge.referral_email.present?
  %div
    %small
      %strong= t 'pledges.form.referred', referred: pledge.referral_email, discount: pledge.discount.format
      
- if campaign.active?
  %hr
  %div
    %p
      %strong= t '.refer_title'
    %p= t '.refer_expl', discount: Pledge.discount_per_referral.format
    %p= t('.refer_expl_2', email: "<strong>#{current_user.email}</strong>").html_safe
    - unless browser.mobile?
      %p= t '.refer_expl_fb'
      %div
        = link_to t('.invite_cta'), facebook_send_link(pledge.campaign.shareable_url(current_user, :include_referral_email)), class: 'btn btn-primary btn-facebook'