= form_for pledge, url: pledge_path(id: campaign.id, pledge_id: pledge.id), html: {class: 'form-inline', style: 'text-align: right', id: 'payment-form'} do |form|
  = form_fields(form, 'pledges.form') do |field|
    - if current_attendee.credits.any?
      .row.bottom10
        .col-xs-8.left-column
          = field.(:desired_credit_ids, only_label: true, label_html: {class: 'mr10'})
        .col-xs-4.right-column.left
          = field.(:desired_credit_ids, as: :checkboxes, values: current_attendee.credits, only_input: true, html_class: 'desired_credit_ids')
    .row.bottom10
      .col-xs-8.left-column
        - popover_caption = "#{t('pledges.form.referral_email_popover')} <br> <small> #{t('pledges.form.referral_email_popover_2')} </small>"
        = field.(:referral_email, as: :email, only_label: true, label_html: {class: 'mr10'}, popover: {html: popover_caption})
      .col-xs-4.right-column.left
        = field.(:referral_email, as: :email, only_input: true, value: (pledge.referral_email || params[:referral_email]), form_group_class: 'full', html_class: 'full')
    .row
      .col-xs-8.left-column
        - popover_caption = "#{t('pledges.form.originally_pledged_cents_popover')}"
        = field.(:originally_pledged_cents,
          as: :currency,
          only_label: true,
          label_html: {class: 'mr10'},
          popover: {html: popover_caption})
      .col-xs-4.right-column.left
        = field.(:originally_pledged_cents,
          as: :currency,
          only_input: true,
          min: campaign.minimum_pledge_cents,
          max: campaign.maximum_pledge_cents,
          style: "width: 80px")
        = field.(:desired_credit_ids, as: :hidden, value: [])
    .row.top10
      .col-xs-8.right.left-column
        .small= t('pledges.form.can_pay_more', price: content_tag(:strong){(campaign.minimum_pledge_cents / 100.0).to_money.format}).html_safe
      .col-xs-4.left.right-column
        .small.bold.black-link
          - popover_caption = "#{t('pledges.form.why_pay_more_popover')} <br> <small> #{t('pledges.form.why_pay_more_popover_2')} <small>"
          %a{'data-toggle' => 'popover', 'data-content' => popover_caption, 'data-html' => 'true', tabindex: 0, role: 'button'}
            = t 'pledges.form.why_pay_more'
    .row.top10#discount-cents-indicator-wrapper{style: "#{jquery_hidden if pledge.discount_cents.zero?}"}
      .col-xs-8.left-column
        %strong= t '.you_will_be_discounted'
      .col-xs-4.left.right-column
        %strong#discount-cents-indicator= pledge.discount.format
    .row.top10
      .col-xs-8.left-column
        %strong= t '.you_will_pay'
      .col-xs-4.left.right-column
        %strong#amount-cents-indicator= pledge.amount.format
    .row
      .col-xs-offset-8.col-xs-4.right-column.left
        %hr.top10.bottom15
    .row
      .col-xs-offset-8.col-xs-4.right-column.left
        %button#do-pledge.btn.btn-success.full.skip-custom-readonly-styling{style: 'min-width: 115px; margin-top: 0'}
          = t 'pledges.form.buy'
          %span.small#do-pledge-amount-cents-indicator= pledge.amount.format