:javascript
  
  var amount_cents = #{pledge.amount_cents}
  var received_stripe_token = false
  
  var handler = StripeCheckout.configure({
    key: '#{Rails.application.secrets.stripe_publishable_key}',
    image: '#{image_path}',
    locale: '#I18n.locale',
    closed: function(){
      if (!received_stripe_token){
        $('.block-ui').remove()
      }
    },
    token: function(token) {
      if (!amount_cents){ // Should never happen.
        return
      }
      var request = $.ajax(("#{charge_action}"), {method: 'POST', data: {stripeToken: token['id']}})
      received_stripe_token = true
      request.done(function(response){
        var json = response
        var sel = $('#campaign-progress-bar')
        sel.animate({width: (json['campaign_fulfilled_percent'] + '%')}, {complete: function(){
          $('#pledge-contribution').html(json['pledge_contribution_content'])
          sel.text(json['campaign_fulfilled_caption'])
          $('#campaign_pledged_title').text(json['campaign_pledged_title'])
        }})
      })
      request.fail(function(response){
        if (response.status == 500){
          set_flash_messages(flash_error("#{t 'pledges.form.error_500'}"))
        } else {
          set_flash_messages(response)
        }
      })
    }
  });
  
  var payment_form = $('#payment-form')
  var do_pledge = $('#do-pledge')
  var old_serialized_value = payment_form.serialize()
  var pledge_is_valid = true
  
  var update_pledge_object = function(){
    
    var serialized_value = payment_form.serialize()
    
    if (serialized_value == old_serialized_value){
      do_pledge.attr('readonly', !pledge_is_valid)
      return
    } else {
      old_serialized_value = serialized_value
    }
    
    var pledge_data = {}
    _.each(['originally_pledged_cents', 'referral_email'], function(attr){
      pledge_data[attr] = $('#pledge_' + attr).val()
    })
    
    var credit_attrs = #{current_attendee.credits.map{|credit| "desired_credit_ids_#{credit.id}" }}
    pledge_data["desired_credit_ids"] = []
    
    _.each(credit_attrs, function(attr){
      var val = $('#pledge_' + attr + ':checked').val()
      if (val){
        pledge_data["desired_credit_ids"].push(val)
      }
    })
    
    var request = $.ajax("#{update_action}", {method: 'PUT', data: {pledge: pledge_data}})
    request.done(function(response){
      set_flash_messages(null)
      var discounted_message = response['discounted_message']
      if (discounted_message){
        $('#discount-cents-indicator-wrapper').toggle(true)
        $('#discount-cents-indicator').text(discounted_message)
      } else {
        $('#discount-cents-indicator-wrapper').toggle(false)
      }
      amount_cents = response['amount_cents']
      amount_cents_formatted = response['amount_cents_formatted']
      $('#amount-cents-indicator, #do-pledge-amount-cents-indicator').text(amount_cents_formatted)
      do_pledge.attr('readonly', false)
      pledge_is_valid = true
    })
    request.fail(function(response){
      $('.block-ui').remove()
      pledge_is_valid = false
      if (response.status == 500){
        set_flash_messages(flash_error("#{t 'pledges.create.error'}"))
      } else {
        set_flash_messages(response)
      }
    })
  }
  
  var all_payment_text_inputs = 'input[type="text"], input[type="email"]'
  var all_payment_inputs = all_payment_text_inputs + ', input[type="checkbox"]'
  
  payment_form.find(all_payment_inputs).change(function(){
    do_pledge.attr('readonly', true)
    update_pledge_object()
  })
  
  var text_inputs_timeouts = []
  
  payment_form.find(all_payment_text_inputs).keyup(function(){
    
    if (payment_form.serialize() == old_serialized_value){ // prevent a bug by which when one presses backspace in an empty input, the button would get disabled.
      return
    }
    
    do_pledge.attr('readonly', true)
    
    _.each(text_inputs_timeouts, function(timeout){
      clearTimeout(timeout)
    })
    var timeout = setTimeout(update_pledge_object, 400)
    text_inputs_timeouts = [timeout]
  })
  
  var update_pledge_object_if_readonly = function(){
    if (do_pledge.is('[readonly]')){
      update_pledge_object()
    }
  }
  
  do_pledge.click(function(e){
    update_pledge_object_if_readonly()
    e.preventDefault()
  })
  do_pledge.hover(update_pledge_object_if_readonly)
  
  do_pledge.on('click', function(e) {
    if (do_pledge.is('[readonly]')){
      return
    }
    payment_form.append("<div class='block-ui' style='position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: white; opacity: 0.45; z-index: 3'>")
    handler.open({
      name: '#{title}',
      email: '#{email}',
      description: '#{description}',
      currency: "#{Pledge::STRIPE_EUR}",
      amount: amount_cents
    });
    e.preventDefault();
  });
