:javascript
  
  function update_recommended_pledge(){
    var capacity = window.venue_capacities[$('.venue_select_id').val()] || "#{t 'campaign_drafts.form.venue_capacity'}"
    var facade = $('#campaign_draft_proposed_goal_cents_facade').val()
    var goal = $('#campaign_draft_proposed_goal_cents').val()
    var result;
    if (facade && goal && !isNaN(capacity) && !isNaN(goal)){
      var _goal = new Number(goal)
      var _capacity = new Number(capacity)
      result = (_goal / _capacity / 100.0).toFixed(2)
      $('#campaign_draft_minimum_pledge_cents_facade').attr('placeholder', result)
    } else {
      result = "#{t 'campaign_drafts.form.minimum_pledge_cents_short'}"
      $('#campaign_draft_minimum_pledge_cents_facade').attr('placeholder', null)
    }
    result = '<strong>' + result + '</strong>'
    var money = facade || "#{t 'campaign_drafts.form.goal_cents'}"
    var caption = money + " / " + capacity + " = " + result
    $('#recommended-pledge-indicator').html(caption)
  }
  
  function update_attendance_indicator(){
    var caption = "#{t 'campaign_drafts.form.maximum_attendance'}"
    var goal = $('#campaign_draft_proposed_goal_cents').val()
    var pledge = $('#campaign_draft_minimum_pledge_cents').val()
    var value = ""
    if (goal && pledge && pledge != "0") { // "0": because of autonumeric's min.
      value = Math.floor(goal / pledge)
    }
    $('#attendance-indicator').html(caption + ": " + value)
  }
  
  var goal_cents_handler = _.debounce(function(){
    var goal = $('#campaign_draft_proposed_goal_cents').val()
    var proposed_goal_cents = goal && !isNaN(goal) && new Number(goal)
    if (proposed_goal_cents){
      var request = $.ajax("#{calculate_goal_cents_path}", {method: 'GET', data: {proposed_goal_cents: proposed_goal_cents}})
      request.done(function(response){
        $('#calculated-goal-cents-indicator').text(response['value'])
      })
    } else {
      $('#calculated-goal-cents-indicator').text("")
    }
  }, 175)
  
  $(function(){
    
    $(document).on('change', '.venue_select_id', update_recommended_pledge)
    $('.venue_select_id').change()
    
    $('#campaign_draft_proposed_goal_cents_facade').bind('cents_field_updated', update_recommended_pledge)
    update_recommended_pledge()
    update_attendance_indicator()
    
    $('#campaign_draft_proposed_goal_cents_facade, #campaign_draft_minimum_pledge_cents_facade').bind('cents_field_updated', update_attendance_indicator)
    
    $('#campaign_draft_proposed_goal_cents_facade').keyup(goal_cents_handler)
    
  })
  
