- the_id = "add-venue-item-to-campaign-draft"
- venue_form_class = 'add-venue-remote-form'
- select_wrapper_id = 'venue-select-row'

%hr
= form_for(campaign, class: 'form-horizontal') do |f|
  = form_fields(f, 'campaign_drafts.form') do |field|
    .row{id: select_wrapper_id}
      = render 'venue_select', field: field, the_id: the_id
    = field.(:name)
    = field.(:description, as: :textarea)
    .row
      .col-xs-6
        = field.(:goal_cents, as: :currency, min: CampaignDraft::MINIMUM_GOAL_AMOUNT, max: CampaignDraft::MAXIMUM_GOAL_AMOUNT)
      .col-xs-6
        #recommended-pledge-indicator.f12.alert.alert-info.p10{style: 'margin-top: 22px'}
    .row
      .col-xs-6
        = field.(:minimum_pledge_cents, as: :currency, max: Pledge::MAXIMUM_PLEDGE_AMOUNT)
      .col-xs-6
        #attendance-indicator.f12.alert.alert-warning.p10{style: 'margin-top: 22px'}= t('.maximum_attendance') + ':'
    = field.(:cost_justification, as: :textarea, popover: {html: popover_html('.cost_justification')})
    %hr
    .right
      = field.(:submit)

.modal.fade{id: the_id, role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal'}
          %span &times;
        %h4= t '.add_venue_title'
      .modal-body.left
        = render 'venues/form', form_class: venue_form_class

= render 'form_js'
