%hr
= form_for(campaign, class: 'form-horizontal') do |f|
  = form_fields(f, 'campaign_drafts.form') do |field|
    .row{id: campaign_draft_venue_row_id}
      = render 'venues/venue_select', field: field
    = field.(:name)
    = field.(:description, as: :textarea)
    .row
      .col-xs-6
        = field.(:proposed_goal_cents, as: :currency, min: CampaignDraft::MINIMUM_GOAL_AMOUNT, max: CampaignDraft::MAXIMUM_GOAL_AMOUNT)
      .col-xs-6.center
        = field.(:goal_cents, only_label: true, form_group_class: 'm0', popover: {html: popover_html('.goal_cents')})
        #calculated-goal-cents-indicator{style: 'height: 35px; padding-top: 5px'}
          = campaign.proposed_goal_cents.try(:positive?) ? campaign.goal.format : ""
    .row
      .col-xs-6
        = field.(:minimum_pledge_cents, as: :currency, max: Pledge::MAXIMUM_PLEDGE_AMOUNT)
      .col-xs-6
        #recommended-pledge-indicator.f12.alert.alert-info.p10
    .row
      .col-xs-6
      .col-xs-6
        #attendance-indicator.f12.alert.alert-warning.p10
          = t('.maximum_attendance') + ':'
    = field.(:cost_justification, as: :textarea, popover: {html: popover_html('.cost_justification')})
    %hr
    .right
      = field.(:submit)

= render 'venues/venue_select_modal', object_for_form: 'campaign_draft'
= render 'form_js'
