- campaign = @campaign
.row
  .bordered{class: centered}
    %h2= t '.title', campaign_name: campaign.name
    - unless campaign.submitted_at
      = link_to t('.edit'), edit_campaign_path(campaign), class: 'btn btn-xs btn-info'
      = link_to t('.destroy'), campaign_path(campaign), method: :delete, class: 'btn btn-xs btn-danger'
    - if campaign.submitted_at
      %hr
      - status = campaign.approved_at ? 'success' : campaign.rejected_at ? 'danger' : 'info'
      %span.f14{class: "label label-#{status}"}
        = t ".review_status_#{status}"
    %hr
    = render 'step_1_fields', campaign: campaign
    - if campaign.submitted_at
      = render 'step_2_fields', campaign: campaign
    - else
      = form_for(campaign, url: submit_campaign_path(campaign), method: :post, class: 'form-horizontal') do |f|
        = form_fields(f, 'campaigns.view_draft') do |field|
          .row
            .col-xs-12
              = field.(:starts_immediately, as: :boolean, no_label: t('.starts_later'), popover: {html: popover_html('.starts_immediately')})
          .row
            .col-xs-7
              .starts-at-wrapper{style: "#{jquery_hidden unless (campaign.starts_immediately == false)}"}
                = field.(:starts_at, as: :datetime, required: false)
          .row
            .col-xs-7
              = field.(:ends_at, as: :datetime)
          .row
            .col-xs-12
              -# XXX show newline between label and input
              = field.(:time_zone, as: :time_zone)
          .row
            .col-xs-6
              = field.(:visibility, as: :select, values: Campaign.visibility_select, popover: {html: popover_html('.visibility')})
            .col-xs-6
              = field.(:generate_invite_link, as: :boolean, popover: {html: popover_html('.generate_invite_link')})
          %hr
          .right
            = field.(:submit)
          
:javascript
  
  $('#campaign_starts_immediately').change(function(){
    $('.starts-at-wrapper').toggle($(this).val() == 'false')
  })
