.row.devise-user-form
  .bordered{class: centered}
    %h3= t '.title'
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = form_fields(f, 'devise.passwords.new') do |field|
        = field.(:email, autofocus: true)
        = field.(:submit)