%div{class: centered_wider}
  %h2= t '.title'
  :ruby
    links = %w(approve reject).map{|x|
      content_tag :a, # <a>/tabindex/role as explained here http://getbootstrap.com/javascript/#popovers
        class: "btn btn-#{{approve: 'success', reject: 'danger'}.with_indifferent_access[x]}",
        tabindex: '0',
        role: 'button',
        data: {
          toggle: 'popover',
          placement: 'top',
          content: render("events/approval/#{x}", event: event).gsub("\"", "'"), html: 'true'} do
        t(".#{x}")
      end
    }
  .row.top20.bordered.p20
    .col-sm-5.right.hidden-xs
      = links[0]
    .col-xs-12.visible-xs
      = links[0]
    .col-sm-2.col-xs-12.center
      .top5
      %strong
        = t 'or'
      .bottom5.visible-xs
    .col-sm-5.left.hidden-xs
      = links[1]
    .col-xs-12.visible-xs
      = links[1]