- add_another = 'add-another-ra-artist'
.row
  .bordered{class: centered}
    %h2= t '.title'
    %h5= t('.for_campaign', link: link_to(event.campaign.name, event.campaign)).html_safe
    %hr
    = form_for(event, url: create_event_campaign_path(id: event.campaign.id)) do |f|
      = form_fields(f, 'events.form') do |field|
        = field.(:name)
        = field.(:venue_id, as: :select, values: Venue.for_select)
        = field.(:starts_at, as: :date)
        = field.(:duration)
        %h3
          = t '.artists'
          .float-right.noinput{id: add_another}
            +
          - Array(event.errors[:ra_artists]).each do |error|
            .float-right
              %span.collection-error.f14
                = error
        = field.(:ra_artists, as: :nested_attributes, translations: 'events.form.ra_artists', partial: 'events/ra_artist', add_another: add_another)
        %hr
        = field.(:submit)