- all_objects_wrapper = 'chosen-files'

.bordered{class: centered_wider}
  %h2
    =t '.documents'
  %hr
  = render 'layouts/uploader', target: @event, all_objects_wrapper: ".#{all_objects_wrapper}"
  .bottom20
  %hr
  = form_for(@event, url: create_event_campaign_path(id: @event.campaign.id)) do |f|
    = form_fields(f, 'events.form') do |field|
      %div{class: all_objects_wrapper}
      = field.(:submit)