- all_objects_wrapper = 'chosen-files'

.bordered{class: centered_wider}
  %h2
    =t '.documents'
  %hr
  = direct_upload_form_for @uploader, html: {class: 'jquery-file-upload'} do |f|
    = form_fields(f, '') do |field|
      = field.(:event_documents, as: :s3_upload, all_objects_wrapper: ".#{all_objects_wrapper}", target: @event)
  .bottom20
  %hr
  = form_for(@event, url: create_event_campaign_path(id: @event.campaign.id)) do |f|
    = form_fields(f, 'events.form') do |field|
      %div{class: all_objects_wrapper}
      = field.(:submit)