:javascript
  ON_FILE_UPLOAD = function(data, done, fail){
    var request = $.ajax("#{submit_documents_event_path(@event)}", {method: "POST", data: {event_document: data}})
    request.done(function(response){
      done(response['id'])
    })
    request.fail(fail)
  }
  ON_FILE_REMOVAL = function(id, done, fail){
    var path = "#{CGI::unescape(event_document_path id: @event.id, event_document_id: '{{id}}')}"
    var request = $.ajax(_.template(path)({id: id}), {method: 'DELETE'})
    request.done(done)
    request.fail(fail)
  }

- all_objects_wrapper = 'chosen-files'

.bordered{class: centered_wider}
  %h2
    =t '.documents'
  %hr
  = direct_upload_form_for @uploader, as: 'uploader', html: {class: 'jquery-file-upload'} do |f|
    = form_fields(f, '') do |field|
      = field.(:event_documents, as: :s3_upload, all_objects_wrapper: ".#{all_objects_wrapper}", target: @event, item: EventDocument.new)
  .bottom20
  %div{class: all_objects_wrapper}
    - @event.event_documents.each do |event_document|
      = form_for(event_document, url: '#') do |form|
        = form_fields(form, '') do |field|
          = render 'fields/s3_upload_item', field: field, id: event_document.id, visible_name: event_document.visible_name
  %hr
  = form_for(@event, url: submit_documents_event_path(id: @event.id), html: {method: :post}) do |f|
    = form_fields(f, 'events.form.submit_documents') do |field|
      = field.(:documents_confirmation, as: :checkbox) # XXX needs popover
      = field.(:submit)
