%div{class: centered_wider}
  
  %h1=t '.title'
    
  %hr
  
  - if @campaigns_with_pending_events.any?
    .alert.alert-warning.black
      %strong
        = t '.should_create_events'
        - @campaigns_with_pending_events.each_with_index do |campaign, i|
          %p.bottom5{class: "#{'top5' if i.zero?}"}
            = link_to campaign.name, campaign
  
  - if @events.count.zero?
    - if current_admin
      %p= t('.empty_admin')      
    - elsif current_event_promoter
      %p= t('.empty_event_promoter')
      %p= t('.empty2_event_promoter', link: link_to(t('.new_campaign'), new_campaign_path)).html_safe
    - elsif current_attendee
      %p= t('.empty_attendee')
      %p= t('.empty2_attendee', link: link_to(t('.campaigns'), campaigns_path)).html_safe
  - else
    %ul
      - @events.each do |event|
        %li.listing-item.bordered.p10
          = render 'item', event: event, listing: true
      - if @events.empty?
        %li.listing-item.bordered.p10
          = t('shared.empty', :resources => 'events')
