- if should_upload_documents?
  %div{class: centered_wider}
    .alert.alert-info
      %p
        %strong
          = t '.is_draft'
      %p
        = t '.draft'

%div{class: centered_wider}
  = render 'item', event: @event, listing: false

- if display_event_documents?
  .top30{class: centered_wider}
  = render 'upload_documents', campaign: @event.campaign
    
- if should_review_event?
  .top30{class: centered_wider}
  = render 'review_documents', campaign: @event.campaign
  .top30{class: centered_wider}
  = render 'approve_or_reject', event: @event