%header
  .overlay
    #all-flash-messages
      %div{style: 'position: absolute; width: 100%'}
        = render "layouts/flash_messages", flash: flash
    .intro-text
      .intro-lead-in= t ".the_perfect_event"
      .intro-heading= t '.just_for_you'
      = link_to t('.learn_more'), '#what', class: 'page-scroll btn btn-info intro-cta hidden-sm hidden-md hidden-lg'
      = link_to t('.learn_more'), '#what', class: 'page-scroll btn btn-info intro-cta btn-lg visible-sm-inline visible-md-inline visible-lg-inline'