%section#why
  .container.p30
    .row
      .col-lg-12.text-center
        %h2.section-heading= t '.title'
    .row
      .col-md-3.col-sm-6.why-item
        .full
          %img.img-responsive{:src => image_path("piano_flat.png")}
        .why-caption
          %h4= t '.artists_title'
          %p= t '.artists'
        %table.table
          %tody
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                %span= t '.artists1'
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                = t '.artists0'
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                = t '.artists2'
        %hr.visible-xs
      .col-md-3.col-sm-6.why-item
        .full
          %img.img-responsive{:src => image_path("jack_flat.png")}
        .why-caption
          %h4= t '.venues_title'
          %p= t '.venues'
        %table.table
          %tody
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                %span= t '.venues1'
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                = t '.venues2'
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                = t '.venues3'
        %hr.visible-xs
      .col-md-3.col-sm-6.why-item
        .full
          %img.img-responsive{:src => image_path("ticket_flat.png")}
        .why-caption
          %h4= t '.tickets_title'
          %p= t '.tickets'
        %table.table
          %tody
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                %span= t '.tickets1'
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                %span= t '.tickets3'
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                %span= t '.tickets2'
        %hr.visible-xs
      .col-md-3.col-sm-6.why-item
        .full
          %img.img-responsive{:src => image_path("headphones.png")}
        .why-caption
          %h4= t '.often_title'
          %p= t '.often'
        %table.table
          %tody
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                %span= t '.often1'
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                = t '.often2'
            %tr
              %th
                %span.glyphicon.glyphicon-ok
                = t '.often3'
