.row.devise-user-form
  .bordered{class: centered}
    %h3= t '.title'
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = form_fields(f, 'devise.sessions.new') do |field|
        = field.(:email, autofocus: true)
        = field.(:password)
        = field.(:submit)
    = render "devise/shared/links"