= t '.p1', campaign_link: "#{t('.campaign_link_caption')} #{@campaign_url}", amount: @amount

= t '.p2', another_campaign_link: "#{t('.another_campaign_link_caption')} (#{@another_campaign_url})"

= t '.p3'