.row
  .col-xs-12.col-sm-8.col-md-6.col-lg-4
    = form_for(campaign, class: 'form-horizontal') do |f|
      = form_fields(f, 'campaigns.form') do |field|
        = field.(:name)
        = field.(:description, as: :textarea)
        = field.(:goal_cents, as: :currency)
        = field.(:starts_at, as: :date)
        = field.(:ends_at, as: :date)
        = field.(:submit)