- if listing
  = link_to campaign.name, campaign, class: 'show-link-title'
- else
  %h1= t '.title', campaign: campaign.name

%p.bordered.p10= campaign.description

%strong= t '.starts_at'
= campaign.starts_at
%span.light-grey
  |
%strong= t '.ends_at'
= campaign.ends_at