- if listing
  .row
    .col-xs-12
      = link_to campaign.name, campaign, class: 'show-link-title'
  .row
    .col-xs-12.dark-grey
      - if campaign.fulfilled_at
        %span.glyphicon.glyphicon-ok-sign{style: 'vertical-align: middle'}
        %span{style: 'vertical-align: -1px', title: t('.fulfilled_campaign_title')}
          = t('.fulfilled_campaign')
      - elsif campaign.unfulfilled_at
        %span.glyphicon.glyphicon-remove-circle{style: 'vertical-align: middle'}
        %span{style: 'vertical-align: -1px', title: t('.unfulfilled_campaign_title')}
          = t('.unfulfilled_campaign')
      - elsif campaign.active?
        %span.glyphicon.glyphicon-ok-sign{style: 'vertical-align: middle'}
        %span{style: 'vertical-align: -1px', title: t('.open_campaign_title')}
          = t('.open_campaign')
      - elsif campaign.not_open_yet?
        %span.glyphicon.glyphicon-ok-sign{style: 'vertical-align: middle'}
        %span{style: 'vertical-align: -1px', title: t('.not_open_yet_title', date: campaign.starts_at)}
          = t('.not_open_yet')
    - if current_attendee && current_attendee.pledged?(campaign)
      .col-xs-12.dark-grey
        %span.glyphicon.glyphicon-ok-sign{style: 'vertical-align: middle'}
        %span{style: 'vertical-align: -1px', title: t(".pledged_campaign_title", amount: current_attendee.pledge_for(campaign).originally_pledged.format)}
          = t '.pledged_campaign'
          
- else
  %h1= t '.title', campaign: campaign.name
  - if policy(campaign.campaign_draft).show?
    .top5.pl2
      %small.text-muted.f14= t('.from_campaign_draft', campaign_link: link_to(t('.from_campaign_draft_link'), campaign_draft_path(campaign.campaign_draft))).html_safe

%p.p20.top20.bottom20{class: "#{'bordered' unless listing}"}= campaign.description

.campaign-venue
  %strong= t('.venue') + ':'
  = campaign.venue.name

%strong= t('.ends_at') + ':'
= l campaign.ends_at, format: :long

- campaign_pledged_title = t 'campaigns.show.title', pledged: campaign.pledged.format
- if listing
  %h3
    = link_to campaign_pledged_title, campaign
- else
  %h3#campaign_pledged_title= campaign_pledged_title
.row
  .col-xs-8.bordered-right.left-column
    = progress_bar campaign.percent_pledged, t('campaigns.show.percent', percent: campaign.percent_pledged), nil, 'campaign-progress-bar'
  .col-xs-4.right-column
    = progress_bar 100, t('campaigns.show.goal', goal: campaign.goal.format), :danger
