- if listing
  = link_to campaign.name, campaign, class: 'show-link-title'
- else
  %h1= t '.title', campaign: campaign.name

%p.bordered.p10= campaign.description

.campaign-venue
  %strong= t('.venue') + ':'
  = campaign.venue.name

%strong= t('.ends_at') + ':'
= l campaign.ends_at, format: :long