- if listing
  .row
    .col-xs-10
      = link_to campaign.name, campaign, class: 'show-link-title'
    .col-xs-2.dark-grey.right{style: 'padding-top: 12px'}
      - if current_attendee
        - if current_attendee.pledged?(campaign)
          %span.glyphicon.glyphicon-ok-circle{style: 'vertical-align: middle'}
          %span{style: 'vertical-align: -1px'}= t '.pledged_campaign'
        - elsif campaign.active?
          %span.glyphicon.glyphicon-ok-sign{style: 'vertical-align: middle'}
          %span{style: 'vertical-align: -1px'}= t '.open_campaign'
          
- else
  %h1= t '.title', campaign: campaign.name

%p.p10{class: "#{'bordered' unless listing}"}= campaign.description

.campaign-venue
  %strong= t('.venue') + ':'
  = campaign.venue.name

%strong= t('.ends_at') + ':'
= l campaign.ends_at, format: :long

- campaign_pledged_title = t 'campaigns.show.title', pledged: campaign.pledged.format
- if listing
  %h3
    = link_to campaign_pledged_title, campaign
- else
  %h3#campaign_pledged_title= campaign_pledged_title
.row
  .col-xs-8.bordered-right.left-column
    = progress_bar campaign.percent_pledged, t('campaigns.show.percent', percent: campaign.percent_pledged), nil, 'campaign-progress-bar'
  .col-xs-4.right-column
    = progress_bar 100, t('campaigns.show.goal', goal: campaign.goal.format), :danger
