- if listing
  = link_to campaign.name, campaign, class: 'show-link-title'
- else
  %h1= t '.title', campaign: campaign.name

%p.bordered.p10= campaign.description

%strong starts at:
= campaign.starts_at
%strong ends at:
= campaign.ends_at