%hr
.top10.center
  %strong
    = t '.caption'
  - if current_attendee
    - pledge = current_attendee.refundable_pledge_for(campaign)
    - if pledge
      - links = %w(money_back credits).map{|x| link_to t(".#{x}"), '#', class: 'btn btn-success unfulfilled-refund-option', data: {toggle: 'popover', content: render("campaigns/unfulfilled/#{x}", pledge: pledge, campaign: campaign, amount: pledge.amount.format).gsub("\"", "'"), html: 'true'} }
      %p= t '.refundable', amount: pledge.amount.format
      .row.top20.bordered.p20
        .col-sm-5.right.hidden-xs
          = links[0]
        .col-xs-12.visible-xs
          = links[0]
        .col-sm-2.col-xs-12
          .top5
          %strong
            = t 'or'
          .bottom5.visible-xs
        .col-sm-5.left.hidden-xs
          = links[1]
        .col-xs-12.visible-xs
          = links[1]