%div{class: centered_wider}
  
  .row
    .col-sm-8.col-xs-12
      %h1.m0
        =t(in_mine_page? ? '.title_mine' : '.title')
    .col-sm-4.col-xs-12.right.top10
      - if current_user
        %span
          - opts = {class: "btn btn-info btn-xs"}
          - if in_mine_page?
            = link_to t('.all'), campaigns_path, opts
          - else
            = link_to t('.mine'), mine_campaigns_path, opts
  - if policy(Campaign).new?
    .row
      .col-xs-12.right.top10
        %span
          = link_to t(".new"), new_campaign_path, class: 'btn btn-success'

  %hr
  %ul
    - @campaigns.each do |campaign|
      %li.listing-item.bordered.p10
        = render 'item', campaign: campaign, listing: true
    - if @campaigns.empty?
      %li.listing-item.bordered.p10
        - if current_event_promoter
          = t('.empty_event_promoter')
        - elsif current_attendee
          = t('.empty_attendee') # note: in the future when scope by city is implemented, the text can say "search in other cities instead".
        - else
          = t('.empty_generic')
