%div{class: centered_wider}

  = render 'item', campaign: @campaign, listing: false
  
  .top10
  
  - if user_signed_in?
    - if @campaign.event && policy(@campaign.event).show?
      = render 'event_created', campaign: @campaign
    - elsif should_create_event?
      = render 'must_create_event', campaign: @campaign
    - elsif current_attendee
      = render 'pledges/form', campaign: @campaign
  - else
    %hr 
    - the_link = link_to t(@campaign.closed? ? '.sign_up_for_closed' : '.sign_up'), attendees_sign_up_path, class: 'btn btn-success', id: 'sign-up-from-campaign'
    - if @campaign.closed?
      .alert.alert-info.p10
        %small
          %p= t '.closed_sign_up'
          %p
            %strong
              =t '.closed_sign_up_2'
          = the_link
    - else 
      = the_link
    = facebook_connect