%div{class: centered_wider}

  = render 'item', campaign: @campaign, listing: false
  
  %h3#campaign_pledged_title= t '.title', pledged: @campaign.pledged.format
  .row
    .col-xs-8.bordered-right.left-column
      = progress_bar @campaign.percent_pledged, t('.percent', percent: @campaign.percent_pledged), nil, 'campaign-progress-bar'
    .col-xs-4.right-column
      = progress_bar 100, t('.goal', goal: @campaign.goal.format), :danger
  
  .top10
  
  - if user_signed_in?
    - if current_user.attendee?
      = render 'pledges/form', campaign: @campaign
  - else  
    = link_to t('.sign_up'),
      attendees_sign_up_path(user: {attendee_attributes: {entity_type_shown_at_signup: 'campaign', entity_id_shown_at_signup: @campaign.id}}),
      class: 'btn btn-success', id: 'sign-up-from-campaign'