- refundable_pledge = current_attendee.try(:refundable_pledge_for, @campaign)

%div{class: centered_wider}

  = render 'item', campaign: @campaign, listing: false
  
  - if @campaign.unfulfilled_at || refundable_pledge # XXX inefficient approach. do instead: `|| @campaign.event_rejected_at`, and only THEN defining refundable_pledge.
    = render 'unfulfilled', campaign: @campaign, refundable_pledge: refundable_pledge
  
  .top10
  
  - if user_signed_in?
    - if @campaign.event && policy(@campaign.event).show?
      = render 'event_created', campaign: @campaign
    - elsif should_create_event?
      = render 'must_create_event', campaign: @campaign
    - elsif current_attendee
      - unless @campaign.unfulfilled_at
        = render 'pledges/form', campaign: @campaign
  - else
    %hr 
    - the_link = link_to t(@campaign.closed? ? '.sign_up_for_closed' : '.sign_up'), attendees_sign_up_path, class: 'btn btn-success', id: 'sign-up-from-campaign'
    - if @campaign.closed?
      .alert.alert-info.p10
        %small
          - unless @campaign.unfulfilled_at
            %p= t '.closed_sign_up'
          %p
            %strong
              =t '.closed_sign_up_2'
          = the_link
          = facebook_connect
    - else 
      = the_link
      = facebook_connect
  
  - unless @campaign.visibility == Campaign::PUBLIC_VISIBILITY
    %hr
    .top10
    .alert.alert-info.center
      .small
        = render 'share', campaign: @campaign