- locals.merge!(html_opts: {class: "form-control #{locals[:html_class]}"})

.form-group{class: "#{"has-error" if form.object.errors[key].present?}"}
  - if key == :submit
    = render "fields/submit", locals.merge(locals: locals)
  - else
    = form.label key, class: 'control-label', value: t("#{prefix}.#{key}", default: key.to_s)
    = render "fields/#{as}", locals.merge(locals: locals)
  - Array(form.object.errors[key]).each do |error|
    .help-block{class: "#{key}-error"}= error