- add_another = locals[:add_another]
- all_objects_wrapper = "all-#{key.to_s.gsub('_', '-')}"
- object_template = "object_template_for_#{key}"
- object_index = "object_index_for_#{key}"
- objects = form.object.send(key).any? ? form.object.send(key) : [form.object.send(key).build]
- name_prefix = "#{form.object_name}[#{key}_attributes]"

%div{id: all_objects_wrapper}
  - objects.each_with_index do |object, index|
    = form.fields_for(key, object) do |f|
      = form_fields(f, locals[:translations], name_prefix: "#{name_prefix}[#{index}]") do |field|
        = render locals[:partial], field: field
= form.fields_for(key, form.object.send(key).build) do |f|
  = form_fields(f, locals[:translations], name_prefix: "#{name_prefix}[{{#{object_index}}}]") do |field|
    :javascript
      #{object_index} = #{form.object.send(key).size - 2}
      #{object_template} = #{partial_to_js_template(locals[:partial], field: field)}
:javascript
  $("##{add_another}").click(function(){
    $('##{all_objects_wrapper}').append(
      #{object_template}({#{object_index}: (#{object_index} += 1)})
    )
    return false
  })
