%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t(".title"), root_path, class: 'navbar-brand bold', style: 'letter-spacing: 0.5px; padding-top: 13.5px'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if policy(DashboardPolicy).index?
          %li
            = link_to dashboard_path do
              = t(".dashboard")
        - if policy(CampaignDraft).index? && !@draft_notification_value.zero?
          %li
            = link_to campaign_drafts_path do
              = t(".campaign_drafts")
              %span.header-notification
                = @draft_notification_value
        - if current_user
          %li
            = link_to (current_event_promoter ? mine_campaigns_path : campaigns_path) do
              = t(".campaigns")
              - unless @campaign_notification_value.zero?
                %span.header-notification
                  = @campaign_notification_value
        - if policy(Event).index?
          %li
            = link_to events_path do
              = t(".events")
              - unless @event_notification_value.zero?
                %span.header-notification
                  = @event_notification_value
        - if current_user
          %li
            = link_to venues_path do
              = t(".venues")
        
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'FAQ', page_path(id: (current_event_promoter ? 'event_promoters/faq' : 'attendees/faq'))
        - unless current_user
          %li.dropdown
            %a{"data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true"}
              = t '.for_promoters'
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to t(".event_promoters"), page_path(id: 'event_promoters')
              - if false
                %li
                  = link_to t(".artist_promoters"), '#'
        - if user_signed_in?
          %li
            = link_to current_user, '#'
          %li
            = link_to t('.logout'), destroy_user_session_path
        - else
          %li
            = link_to t(".login"), new_user_session_path
          -# no Signup link in header - it'd be ambigous given the different types of signups.