.row#pledge-contribution
  .col-xs-8.left-column
    = form_for Pledge.new(amount_cents: amount_cents), html: {class: 'form-inline', style: 'text-align: right'} do |form|
      = form_fields(form, 'pledges.form') do |field|
        = field.(:amount_cents,
          as: :currency,
          min: campaign.minimum_pledge_cents,
          max: campaign.maximum_pledge_cents,
          style: "width: 80px",
          label_html: {class: 'mr10'})
  .col-xs-4.right-column{style: 'text-align: left'}
    %button#do-pledge.btn.btn-success{style: 'min-width: 140px; margin-top: 0'}= t 'pledges.form.buy'
.row.top10
  .col-xs-8.right.left-column
    .small= t 'pledges.form.can_pay_more', price: (amount_cents / 100.0).to_money.format
  .col-xs-4.left.right-column
    .small
      - popover_caption = "#{t('pledges.form.why_pay_more_popover')} <br> <small> #{t('pledges.form.why_pay_more_popover_2')} <small>"
      %strong{'data-toggle' => 'popover', 'data-content' => popover_caption, 'data-html' => 'true'}
        = t 'pledges.form.why_pay_more'
        

%script{src: 'https://checkout.stripe.com/checkout.js'}

:javascript
  
  var pledge_id = null
  
  var handler = StripeCheckout.configure({
    key: '#{Rails.application.secrets.stripe_publishable_key}',
    image: '#{image_path}',
    locale: '#I18n.locale',
    token: function(token) {
      if (!pledge_id){ // Should never happen.
        return
      }
      var request = $.ajax(("#{action}" + '/' + pledge_id), {method: 'PUT', data: {stripeToken: token['id']}})
      request.done(function(response){
        var json = response
        var sel = $('#campaign-progress-bar')
        sel.animate({width: (json['campaign_fulfilled_percent'] + '%')}, {complete: function(){
          $('#pledge-contribution').html(json['pledge_contribution_content'])
          sel.text(json['campaign_fulfilled_caption'])
          $('#campaign_pledged_title').text(json['campaign_pledged_title'])
        }})
      })
      request.fail(function(response){
        set_flash_messages(response)
      })
    }
  });
  
  var create_pledge_object = function(success){
    var amount_cents = $('#pledge_amount_cents').val()
    var request = $.ajax("#{action}", {method: 'POST', data: {pledge: {amount_cents: amount_cents}}})
    request.done(function(response){
      pledge_id = response['id']
      success(amount_cents)
    })
    request.fail(function(response){
      set_flash_messages(response)
    })
  }
  
  $('#do-pledge').on('click', function(e) {
    create_pledge_object(function(chosen_cents){
      handler.open({
        name: '#{title}',
        email: '#{email}',
        description: '#{description}',
        currency: "#{Pledge::STRIPE_EUR}",
        amount: chosen_cents
      });
    })
    e.preventDefault();
  });
