!!!
%html
  %head
    - if Rails.env.development?
      %link{rel: 'shortcut icon', href: asset_path('favicon.ico')}
    - if dev_or_test?
      :javascript
        window.errors = []
        window.onerror = function(a, b, c){
          window.errors.push([a, b, c]);
          return false; // false: don't swallow exceptions.
        }
    %title Estiu
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render "layouts/header"
    #main
      - unless public_home_page?
        #all-flash-messages
          = render "layouts/flash_messages", flash: flash
      = yield
    -# = render 'layouts/footer'